#root {
    margin: 0;
    padding: 2rem 0;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.main {
    padding: 2rem;
    display: flex;
    width: 100vw;
}

.bg-image {
    background-image: url("./images/background.jpg");
    background-size: 100vw, 100vh;
    position: fixed;
    top: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    filter: blur(5px);
    backdrop-filter: blur(50px);
    z-index: -1
}

.table {
    background-color: rgb(169, 169, 169); 
    background-color: rgba(238, 235, 235, 0.481);
    color: rgb(0, 0, 0);
    padding: 0;
    border-radius: 2rem;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 70vh;
}

.table_header {
    text-align: center;

    width: 90%;
}

.table_body {
    width: 90%;
}

th, td {
    width: 300px;
    text-align: center;

}

tr:nth-child(even) {
    background-color: #ffffff18;
}

table {
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex: 0 1 60%;
}

thead {
    background-color: rgba(255, 255, 255, 0.489);
    border-radius: 2rem;
}

tbody { 
    overflow: auto;
}

tbody::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

tbody::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}
tbody:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

a {
    color: black;
    font-weight: 400;
}

.single {
    color: white;
    text-align: center;
    flex: 0 1 40%;
}
